# Unity
*.meta
*.csproj
*.sln
*.userprefs
.vs/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Blender
__pycache__/
*.pyc
*.pyo
*.blend1
*.blend2

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.code-workspace
